/* Overlay - półprzezroczysta szyba */
.loader-overlay {
  position: fixed; /* przykrywamy cały ekran */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4); /* półprzezroczysta czerń */
  display: flex;
  justify-content: center; /* wyśrodkowanie poziome */
  align-items: center; /* wyśrodkowanie pionowe */
  z-index: 9999; /* ponad wszystkimi elementami */
}

/* Sam loader (np. kółko animowane itp.) */
.loader {
  width: 80px;
  height: 80px;
  border: 8px solid #f3f3f3; /* jasne tło */
  border-top: 8px solid #3498db; /* kolor obrotu */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Animacja obracania */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* MENU */
/* Ukrywanie elementów na komputerze / telefonie */
.hide-mobile {
    display: flex;
}

.hide-desktop {
    display: none;
}

/* Menu nawigacyjne */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-brand {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-weight: bold;
    font-size: 1.2em;
    color: #01aaff;
    text-decoration: none;
}

/* Układ menu głównego */
.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1em;
    display: flex;
    align-items: center;
}

/* Styl dropdown */
.dropdown details > ul {
    margin: 0;
    padding: 0.5em;
    background: var(--pico-background-color);
    list-style: none;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    border-radius: 4px;
    position: absolute;
    right: 0;
    z-index: 100;
}

/* Responsywność */
@media (max-width: 768px) {
    .hide-mobile {
        display: none;
    }
    .hide-desktop {
        display: inline-flex;
    }

    .nav-menu {
        flex-direction: column;
        width: 100%;
        background: var(--pico-background-color);
        margin-top: 8px;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(255,255,255,0.51);
        display: none; /* Domyślnie ukryte, pokazane JavaScriptem */
    }

    .nav-menu.show {
        display: flex;
    }

    .dropdown details > ul {
        position: static;
        box-shadow: none;
    }
}

li.dropdown details {
    margin-bottom: 0px;
}
