<fieldset>
    <input type="checkbox" id="withTeam" name="withTeam" value="checked" checked/>
    <label for="withTeam">Utwórz zespół dla tego wydarzenia</label>
</fieldset>

<fieldset id="teamOptions" style="display:none; margin-top:10px;">
    <legend>Na początek mój zespół będzie składał się z </legend>

    <input type="radio" id="choosePersons" name="teamType" value="person" checked/>
    <label for="choosePersons">Wybranych osób</label><br/>

    <input type="radio" id="chooseGroup" name="teamType" value="group"/>
    <label for="chooseGroup">Osób z grupy</label><br/>

    <input type="radio" id="chooseAll" name="teamType" value="all"/>
    <label for="chooseAll">Wszystkich osób</label><br/>
</fieldset>

<fieldset id="groupsSelect" style="display:none; margin-top:10px;">
    {#if groups.isEmpty()}
        <legend>Nie masz stworzonej żadnej grupy osób. Mozesz ją stworzyć na stronie Grupy</legend>
    {#else}
        <legend>Wybierz grupy</legend>
    {/if}
    {#for group in groups}
    <label>
        <input type="checkbox" name="groups" value="{group.id}" id="{group.name}"/>
        {group.name}
    </label><br/>
    {/for}
</fieldset>

<fieldset id="personsSelect" style="display:none; margin-top:10px;">
    <legend>Wybierz osoby</legend>
    {#for person in persons}
    <label>
        <input type="checkbox" name="persons" value="{person.id}" id="{person.email}"/>
        {person.firstName} {person.lastName} ({person.email})
    </label><br/>
    {/for}
</fieldset>

<script src="/js/script_create_team_form_umbrella.js"></script>