<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{#insert title}{/}</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
<header>
    <h1>📚 Survey Service</h1>
    <nav>
        <a href="/web/surveys">Lista zapytań</a>
        <a href="/web/persons">Lista osób</a>
        <a href="/web/tags">Lista tagów</a>
    </nav>
    <hr>
</header>

    <h2>{#insert title}{/}</h2>
    {#insert body /}

<footer>
    <hr>
    <p>&copy; 2025 Michał Bzowski</p>
</footer>
</body>
</html>
