<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="light dark" name="color-scheme">
    <title>{#insert title}{/}</title>
    <link href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.1.1/css/pico.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href=/images/favicon.ico" rel="icon" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/umbrellajs"></script>
    <!--    IKONKI: https://lucide.dev/icons/pencil -->
</head>
<body>
<header class="container">
    <nav>
        <ul>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24" fill="none" stroke="#01aaff" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-contact-round-icon lucide-contact-round"><path d="M16 2v2"/><path d="M17.915 22a6 6 0 0 0-12 0"/><path d="M8 2v2"/><circle cx="12" cy="12" r="4"/><rect x="3" y="4" width="18" height="18" rx="2"/></svg>
                Potwierdź obecność
            </li>
        </ul>
        <ul>
            <li><a href="/web/events" class="secondary">Wydarzenia</a></li>
            <li><a href="/web/attendance_list" class="secondary">Listy obecności</a></li>
            <li><a href="/web/persons" class="secondary">Osoby</a></li>
            <li><a href="/web/groups" class="secondary">Grupy</a></li>
            <li><a href="/web/tags" class="secondary">Tagi</a></li>
            <details class="dropdown">
                <summary>
                    Ustawienia
                </summary>
                <ul dir="rtl">
                    <li id="registered-user"></li>
                    <li><a href="/sec/logout">Wyloguj</a></li>
                </ul>
            </details>
        </ul>
    </nav>
</header>
<div class="loader-overlay" id="loader" style="display: none;">
    <div class="loader"></div>
</div>
<main class="container">
    <h2>{#insert title}{/}{#insert subtitle}{/}</h2>
    {#insert body /}
</main>
<footer class="container">
    <p>&copy; 2025 Michał Bzowski</p>
</footer>
<script>
    function showLoader() {
      u('#loader').each(el => el.style.display = 'flex'); // np. flex dla wyrównania
    }

    function hideLoader() {
      u('#loader').each(el => el.style.display = 'none');
    }

    function fetchWithLoader(url, options) {
      showLoader();
      return fetch(url, options)
        .then(response => {
          hideLoader();
          return response;
        })
        .catch(error => {
          hideLoader();
          throw error;
        });
    }

    async function getUsername() {
        try {
            const response = await fetch(`/sec/username`, {
                method: 'GET',
            });

            if (response.ok) {
                const text = await response.text();
                u('#registered-user').text(text);
            } else {
                alert('Błąd przy pobieraniu nazwy usera');
            }
        } catch {
            alert('Błąd połączenia z serwerem');
        }
    }

    getUsername()
</script>
</body>
</html>
