{#include layouts/main}
{#title}Nowa ankieta{/title}
{#body}
<form id="survey-form">
    <article>
        <label for="name">Nazwa ankiety: </label>
        <input type="text" id="name" name="name" value="{survey.name ?: ''}" />
    </article>
    <div id="events-container">
        {#each survey.events}
        <article class="event-entry">
            <label>Wybierz wydarzenie:</label>
            <select name="events[{it_index}]" onchange="checkDuplicateEvents(this)" required>
                <option value="">-- wybierz --</option>
                {#for event in availableEvents}
                <option value="{event.id}">{event.nameWithFormatedLocalDateTime}</option>
                {/for}
            </select>
            <p><a href="#" onclick="removeEvent(this)">Usuń wydarzenie</a></p>
        </article>
        {/each}
    </div>

    <button type="submit">Zapisz ankietę</button>
    <a href="#" onclick="addEvent()">Dodaj kolejne wydarzenie do tej ankiety</a>
</form>
<script>
    const availableEventsJson = {availableEventsJson.raw()};
</script>

<script src="/js/script_events.js"></script>

{/body}
{/include}
