{#include layouts/main}
{#title}Dodaj nowe zapytanie{/title}
{#body}

<form id="survey-form">
    <label for="name"> Nazwa ankiety: </label>
    <input type="text" id="name" name="name" value="{survey.name ?: ''}" />

    <div id="questions-container">
        {#each survey.questions}
        <div class="question-entry">
            <label> Tytuł pytania: </label>
            <input type="text" name="questions[{it_index}].title" value="{it.title ?: ''}" />

            <label> Opis pytania: </label>
            <input type="text" name="questions[{it_index}].description" value="{it.description ?: ''}" />

            <button type="button" onclick="removeQuestion(this)">Usuń pytanie</button>
        </div>
        {/each}
    </div>

    <button type="button" onclick="addQuestion()">Dodaj pytanie</button>
    <button type="submit">Zapisz ankietę</button>
</form>

<p><a href="/web/surveys">Zobacz listę zapytań</a></p>

<script src="/js/script.js"></script>


{/body}
{/include}
