{#include layouts/main}
{#title}Nowa lista obecności{/title}
{#body}
<form id="attendance-list-form">
    <article hidden="true">
        <label for="name">Nazwa listy obecności: </label>
        <input type="text" id="name" name="name" value="{name ?: ''}" />
    </article>
    <div id="events-container">
        {#each attendanceList.events}
        <article class="event-entry">
            <label>Wybierz wydarzenie:</label>
            <select name="events[{it_index}]" onchange="checkDuplicateEvents(this)" required>
                <option value="">-- wybierz --</option>
                {#for event in availableEvents}
                <option value="{event.id}">{event.nameWithFormatedLocalDateTime}</option>
                {/for}
            </select>
            <p>
                <a href="#" onclick="removeEvent(this)">
                    <i class="si-minus-circle"></i>
                    Usuń wydarzenie z tej listy obecności
                </a>
            </p>
        </article>
        {/each}
    </div>

    <button type="submit">Zapisz listę obecności</button>
    <a href="#" onclick="addEvent()">
        <i class="si-plus-circle"></i>
        Dodaj kolejne wydarzenie do tej listy obecności
    </a>
</form>
<script>
    const availableEventsJson = {availableEventsJson.raw()};
    const selectEventId = "{eventId}"
</script>

<script src="/js/script_create_attendance_list_umbrella.js" defer></script>

{/body}
{/include}
