{#include layouts/main}
{#title}{eventName}{/title}
{#body}
<details name="event-details">
    <summary>Zobacz szczegóły wydarzenia</summary>
    <p><strong>Gdzie:</strong> {eventLocation}</p>
    <p><strong>Kiedy:</strong> {eventLocaldatetime}</p>
    <p>{eventDescription}</p>
</details>
<hr/>
{#if noTeamYet}
<form action="/web/events/members" method="post">
    {#if team != null}
    <input type="text" name="teamId" hidden="hidden" value="{eventTeamId}">
    {/if}
    <input type="text" name="eventId" hidden="hidden" value="{eventId}">
    {#include forms/createTeamForm.html}
    {/include}
    <button type="submit" id="submit">Zapisz</button>
</form>
{#else if linkCount == 0}
<div x-data="linkGenerator()" x-init="startPolling('{eventTeamId}')">
    <span>
    <!-- Animowana ikona klepsydry (CSS) -->
    <svg class="hourglass-spin" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
         viewBox="0 0 24 24" fill="none" stroke="#cc2828" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <style>
        .hourglass-spin { animation: hourglass 1s linear infinite; }
        @keyframes hourglass {
          100% { transform: rotate(360deg);}
        }
      </style>
      <path d="M5 22h14"/>
      <path d="M5 2h14"/>
      <path d="M17 22v-4.172a2 2 0 0 0-.586-1.414L12 12l-4.414 4.414A2 2 0 0 0 7 17.828V22"/>
      <path d="M7 2v4.172a2 2 0 0 0 .586 1.414L12 12l4.414-4.414A2 2 0 0 0 17 6.172V2"/>
    </svg>
    <span>Generowanie...</span>
  </span>
</div>

{#else}
<details name="event-details" id="event-message-stats">
    <summary id="summary-tab">Statystyki wysłanych wiadomości</summary>
    <ul>
        <li id="selectedMembersCount">Liczba osób w zespole: {linkCount}</li>
        <li id="sentEmailsCount">Liczba wysłanych wiadomości: {sentLinkCount}</li>
        <li id="answersCount">Liczba wiadomości z odpowiedzią: {answerSum}</li>
        <li id="notAnsweredCount">Liczba wiadomości bez odpowiedzi: {unansweredCount}</li>
        <li id="yesCount">Liczba odpowiedzi 'Tak': {answerYesCount}</li>
        <li id="noCount">Liczba odpowiedzi 'Nie': {answerNoCount}</li>
        <li id="laterCount">Liczba odpowiedzi 'Odpowiem później': {answerLaterCount}</li>
    </ul>
</details>
<hr/>
<details name="event-details">
    <summary>Odpowiedzi od zespołu</summary>
    <table>
        <thead>
        <tr>
            <th>Nazwa Taga</th>
            <th>TAK</th>
            <th>NIE</th>
            <th>POZNIEJ</th>
        </tr>
        </thead>
        <tbody>
        {#for stat in fullStats}
        <tr>
            <td>{stat.tag}</td>
            <td>{stat.yes}</td>
            <td>{stat.no}</td>
            <td>{stat.later}</td>
        </tr>
        {/for}
        </tbody>
    </table>
</details>
{/if}
<hr/>
{#if linkCount != 0}
<details name="event-details" id="team-members-details">
    <summary>Osoby w zespole</summary>

    <table>
        <thead>
        <a href="#" id="send-to-all">Wyślij e-mail do wszystkich</a>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Email</th>
            <th>Link</th>
            <th>Wiadomość</th>
            <th>Odpowiedziała</th>
        </tr>
        </thead>
        <tbody>
        {#for link in links}
        <tr>
            <td>{link.personFirstName}</td>
            <td>{link.personLastName}</td>
            <td data-member-email="{link.personEmail}">{link.personEmail}</td>
            <td><a class="open-member-question" href="/web/responses/{link.linkToken}" target="_blank">Otwórz</a></td>

            <td style="text-align: center;">
                {#if !link.communicationSent}
                <a href="#" id="{link.id}" data-id="{link.id}" class="send-email-button" data-team-id="{team.id}"
                   data-link-person-id="{link.personId}">
                    Wyślij e-mail
                </a>
                {#else}
                <svg id="email-send-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                     fill="none" stroke="#13aa2c" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="lucide lucide-check-icon lucide-check">
                    <path d="M20 6 9 17l-5-5"/>
                </svg>
                {/if}
            </td>
            <td style="text-align: center;">
                {#if link.teamAnswered}
                <svg id="member-answered-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                     viewBox="0 0 24 24" fill="none" stroke="#13aa2c" stroke-width="2" stroke-linecap="round"
                     stroke-linejoin="round" class="lucide lucide-check-icon lucide-check">
                    <path d="M20 6 9 17l-5-5"/>
                </svg>
                {#else}
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="#cc2828" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="lucide lucide-hourglass-icon lucide-hourglass">
                    <path d="M5 22h14"/>
                    <path d="M5 2h14"/>
                    <path d="M17 22v-4.172a2 2 0 0 0-.586-1.414L12 12l-4.414 4.414A2 2 0 0 0 7 17.828V22"/>
                    <path d="M7 2v4.172a2 2 0 0 0 .586 1.414L12 12l4.414-4.414A2 2 0 0 0 17 6.172V2"/>
                </svg>
                {/if}
            </td>
        </tr>
        {/for}
        </tbody>
    </table>
</details>
{/if}
<script src="/js/script_list_team_umbrella.js"></script>
{/body}
{/include}
