{#include layouts/main}
{#title}Lista zapytań{/title}
{#body}

<table border="1" cellpadding="5">
    <thead>
    <tr>
        <th>Tytuł</th>
        <th>Opis</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    {#for query in queries}
    <tr>
        <td>{query.title}</td>
        <td>{query.description}</td>
        <td>
            <form action="/queries/{query.id}" method="post" style="display:inline;">
                <input type="hidden" name="_method" value="delete">
                <button type="submit" onclick="return confirm('Czy na pewno chcesz usunąć to zapytanie?')">Usuń</button>
            </form>

            <a href="/queries/{query.id}/details">
                <button type="button">Szczegóły</button>
            </a>


            <form action="/links/generate/{query.id}" method="get" style="display:inline;">
                <button type="submit" onclick="return confirm('Wygenerować linki dla tego zapytania?')">Generuj linki
                </button>
            </form>

        </td>
    </tr>
    {/for}
    </tbody>
</table>

<p><a href="/queries/add">Dodaj nowe zapytanie</a></p>
{/body}
{/include}
