{#include layouts/main}
{#title}Wydarzenia{/title}
{#body}

{#if events}
<table>
    <thead>

    <tr>
        <th>Nazwa</th>
        <th>Lokalizacja</th>
        <th>Data i czas</th>
        <th>Opis</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    {#for event in events}
    <tr>
        <td>{event.name}</td>
        <td>{event.location}</td>
        <td>{event.formatedLocalDateTime}</td>
        <td>{event.description}</td>
        <td>
            <a href="/web/events/{event.id}/details">
                <button type="button">Szczegóły</button>
            </a>
            <form action="/web/events/{event.id}" method="post" style="display:inline;">
                <input type="hidden" name="_method" value="delete">
                <button type="submit" onclick="return confirm('Czy na pewno chcesz usunąć to wydarzenie?')">Usuń</button>
            </form>
        </td>
    </tr>
    {/for}
    </tbody>
</table>
{#else}
<p>Brak utworzonych wydarzeń</p>
{/if}

<p><a href="/web/events/new">Dodaj nowe wydarzenie</a></p>

{/body}
{/include}
