{#include layouts/main}
{#title}{survey.name}{/title}
{#body}

{#each survey.events}
<p>{it.name}</p>
{/each}

<h3>Przypisane osoby</h3>
{#if links.isEmpty()}
<p>Brak przypisanych osób.</p>
{#else}
<table>
    <thead>
    <tr>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Email</th>
        <th>Link</th>
        <th>Email</th>
        <th>Odpowiedź</th>
    </tr>
    </thead>
    <tbody>
    {#for link in links}
    <tr>
        <td>{link.person.firstName}</td>
        <td>{link.person.lastName}</td>
        <td>{link.person.email}</td>
        <td><a href="/web/responses/{link.linkToken}" target="_blank">Otwórz</a></td>

        <td style="text-align: center;">
            {#if link.status.name() eq "TO_SEND"}
            <form id="send-email-button" action="/api/v1/links/{survey.id}/email/{link.person.id}" method="post" style="display:inline;">
                <button type="submit">Wyślij</button>
            </form>
            {#else}
            <i class="si-check-circle"></i>
            {/if}
        </td>
        <td>{link.surveyAnswered ?: "Brak"}</td>
    </tr>
    {/for}
    </tbody>
</table>
{/if}
<p><a href="/web/surveys">← Powrót do listy zapytań</a></p>
{/body}
{/include}
