{#include layouts/main}
{#title}Szczegóły zespołu{/title}
{#body}

<p xmlns="http://www.w3.org/1999/html">Zespół na wydarzenie:</p>
<ol>
    {#each team.events}
    <li><a href="/web/events/{it.id}/details">{it.name}</a></li>
    {/each}
</ol>

<h3>Osoby, które chcesz zaprosić do zespołu:</h3>
{#if links.isEmpty()}

<!--<p>Nie wybrałeś jeszcze osób do tego zespołu.-->
<!--    <a href="#" class="generate-links" data-id="{team.id}">-->
<!--        Wybierz osoby do tego zespóu-->
<!--        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-link-icon lucide-link"><path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"/><path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"/></svg>-->
<!--    </a>-->
<!--</p>-->
<form action="/web/events/members" method="post">
    <input type="text" name="teamId" hidden="hidden" value="{team.id}">
    {#include forms/createTeamForm.html}
    {/include}
    <button type="submit" id="submit">Zapisz</button>
</form>


{#else}

<table>
    <thead>
    <a href="#" id="send-to-all">Wyślij e-mail do wszystkich</a>
    <tr>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Email</th>
        <th>Link</th>
        <th>Wiadomość</th>
        <th>Odpowiedziała</th>
    </tr>
    </thead>
    <tbody>
    {#for link in links}
    <tr>
        <td>{link.personFirstName}</td>
        <td>{link.personLastName}</td>
        <td data-member-email="{link.personEmail}">{link.personEmail}</td>
        <td><a class="open-member-question" href="/web/responses/{link.linkToken}" target="_blank">Otwórz</a></td>

        <td style="text-align: center;">
            {#if !link.communicationSent}
            <a href="#" id="{link.id}" data-id="{link.id}"  class="send-email-button" data-team-id="{team.id}" data-link-person-id="{link.personId}">
                Wyślij e-mail
            </a>
            {#else}
            <svg id="email-send-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#13aa2c" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-check-icon lucide-check"><path d="M20 6 9 17l-5-5"/></svg>
            {/if}
        </td>
        <td style="text-align: center;">
            {#if link.teamAnswered}
            <svg id="member-answered-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#13aa2c" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-check-icon lucide-check"><path d="M20 6 9 17l-5-5"/></svg>
            {#else}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#cc2828" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-hourglass-icon lucide-hourglass"><path d="M5 22h14"/><path d="M5 2h14"/><path d="M17 22v-4.172a2 2 0 0 0-.586-1.414L12 12l-4.414 4.414A2 2 0 0 0 7 17.828V22"/><path d="M7 2v4.172a2 2 0 0 0 .586 1.414L12 12l4.414-4.414A2 2 0 0 0 17 6.172V2"/></svg>
            {/if}
        </td>
    </tr>
    {/for}
    </tbody>
</table>
{/if}
<script src="/js/script_list_team_umbrella.js"></script>
{/body}
{/include}
