<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Dziękujemy!</title>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
  <div class="container" role="main" aria-labelledby="thankYouTitle">
    <h1 id="thankYouTitle">Dziękujemy!</h1>
    <p>Twoja odpowiedź została pomyślnie przesłana.<br />Doceniamy Twój czas i zaangażowanie.</p>
    <a href="https://orkiestrastrazak.pl" class="btn-home" role="button">Powrót na stronę główną</a>
  </div>
</body>
</html>
